/* Extra small devices (phones, less than 768px) */
@media (max-width : 767px) {

header{margin-bottom: 15px;}
.section-padding{padding: 40px 0;}
.section-padding-top{padding-top: 40px;}
.section-padding-bottom{padding-bottom: 40px;}
.logo{margin-right: 15px;}
nav{float: none;}
.nav>li{padding: 5px 10px; border-bottom: 1px solid #fff;}
.nav>li:last-child{border-bottom: 0px solid #fff;}
.navbar-toggle{background: #9D3793; margin: 10px auto; float: none; display: block;}
.navbar-toggle .icon-bar{background: #fff;}
.banner-title{margin-top: 0;margin-bottom: 70px;}
.banner-title h2{font-size: 30px;}
.banner-title span{font-size: 18px;margin-bottom: 30px;}
.dog-park{margin-bottom: 15px;}
.dog-park-bottom{min-height: auto; }
.dog-park-three{min-height: auto;}
.single-pro-inner{min-height: auto;padding-bottom: 15px;}
.single-protection{margin-top: 60px;}
.talk-content h2{margin-top: 20px;}
.inquiries a{margin-top: 20px;}
.copyright-wrap{margin-top: 15px;}
.copyright-wrap span{display: block;text-align: center;}
.copyright-menu{text-align: center;}
.about-left-image{margin-bottom: 20px;}
.page-banner h2{width: 250px;}
.service-area-info{min-height: auto;margin-bottom: 20px;}
.single-register{margin-bottom: 30px;}
.reg-padding p {min-height: auto;}
.page-banner-gallery h3{top: -400%;}
.page-banner-gallery h2, .page-banner-contact h2, .page-banner-service-areas h2{width: 250px;}
.captcha-img{margin-bottom: 20px;}

}


/* Landscape Mobile */
@media only screen and (min-width : 480px) and (max-width : 767px) {



}


/* Small devices (tablets, 768px and up) */
@media (min-width : 768px) and (max-width : 991px) {

.dog-park-bottom{min-height: 145px; margin-bottom: 30px;}
.dog-park-three{min-height: auto;}
.single-pro-inner{min-height: 330px;}
.talk-content h2{margin-top: 0;}
.inquiries a{font-size: 20px; margin-top: 80px;}
.copyright-wrap{margin-top: 15px;}
.reg-padding span{font-size: 60px;margin-bottom: 20px;}
.reg-padding p 
.gallery {margin-left: -15px;}
.gallery ul li{margin-left: 15px;margin-bottom: 15px;}
.page-banner-gallery h3{top: -400%;}

}


/* Medium devices (desktops, 992px and up) */
@media (min-width : 992px) and (max-width : 1199px) {

.nav>li{padding: 20px 5px;}
.dog-park-three h3{padding-right: 45px;}
.dog-park-three a{margin: 10px auto;}
.dog-park-bottom{min-height: 194px;}
.reg-padding p {}
.gallery {margin-left: -24px;}
.gallery ul li{margin-left: 24px;margin-bottom: 24px;}

}


/* Large devices (large desktops, 1200px and up) */
@media (min-width : 1200px) and (max-width : 1280px) {
	
}